.launch_activity {
    width: 190px;
    height: 50px;
    background-color: #fd7222;
    opacity: 0.7;
    color: #fff;
    font-size: 26px;
    text-align: center;
    line-height: 50px;
    position: fixed;
    top: 220px;
    left: 55px;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 0 10px #eaac5b;
    transition: 0.3s;
}

.launch_activity:hover {
    opacity: 0.9;
}

.hide_launch {
    width: 54px;
    height: 40px;
    background-color: #fda128;
    opacity: 0.7;
    position: fixed;
    top: 220px;
    left: 25px;
    border: none;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    padding-top: 13px;
    box-shadow: 0 0 10px #eaac5b;
    cursor: pointer;
    display: none;
}

.hide_launch:hover {
    opacity: 0.9;
}

.each_act {
    width: 82%;
    height: 125px;
    background-color: #f1f5e9;
    border-radius: 6px;
    box-shadow: 0 4px 4px #477647;
    margin: 30px auto;
    font-size: 18px;
    color: #21481E;
    position: relative;
}

.each_act:hover {
    background-color: #effad9;
}

.act_top {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: #99bf54;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
}

.plus_btn {
    position: relative;
    top: 2px;
    left: 15px;
    cursor: pointer;
    color: #fff;
    transition: 0.3s;
}

.check_btn {
    position: relative;
    top: 2px;
    left: 15px;
    color: #fff;
    cursor: default;
}

.plus_btn:hover {
    color: #94E39C;
}

.plus_btn a,
.check_btn a {
    font-size: 14px;
    position: relative;
    left: 5px;
    bottom: 2px;
    font-weight: 100;
}

.launcher_img {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #fff;
    text-align: center;
    font-size: 25px;
    line-height: 29px;
}

.act_content {
    margin: 15px 15px;
    width: 90px;
    height: 70px;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.hide_eye {
    width: 80px;
    padding: 3px 5px;
    cursor: pointer;
}

.hide_eye:hover {
    opacity: 0.9;
}

.record_div {
    width: 85%;
    padding: 15px 0;
    margin: 10px auto;
    background-color: #fff;
    opacity: 0.8;
    box-shadow: 0 2px 4px #afb8ae;
    color: #454744;
    font-size: 20px;
}

.record_div div {
    width: 120px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 5px 12px;
}

.record_div span {
    font-size: 22px;
    color: #386025;
}

.lead_text i {
    position: relative;
    top: -7px;
    cursor: pointer;
}

.lead_text i:hover {
    color: #386025;
}

.slide_div {
    width: 85%;
    padding: 15px 0;
    margin: 10px auto;
    margin-top: -20px;
    background-color: #fff;
    opacity: 0.8;
    box-shadow: 0 2px 4px #afb8ae;
    color: #454744;
    font-size: 20px;
}

/* 发起竞赛模态框 */
.modal_parent {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(44, 55, 47, .8);
    box-shadow: 0 0 200px #99a49c inset;
    display: none;
}

.launch_modal {
    width: 410px;
    border-radius: 2px;
    background-color: #f3faef;
    padding-top: 30px;
    padding-bottom: 15px;
    margin: 90px auto;
    box-shadow: 0 3px 30px rgba(0, 0, 0, .15);
    position: relative;
}

.launch_title {
    font-size: 22px;
    color: #21481e;
    text-align: center;
    font-weight: 500;
}

.publish_btn {
    width: 100px;
    height: 40px;
    background-color: #2d6329;
    color: #fff;
    font-size: 22px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s;
}

.publish_btn:hover {
    opacity: 0.7;
}

.cancel_btn {
    color: #2d6329;
    background-color: transparent;
    border: 2px solid #2d6329;
}

.cancel_btn:hover {
    color: #fff;
    background-color: #2d6329;
    opacity: 0.7;
}

.field_tip {
    color: #2d6329;
    font-size: 20px;
    font-weight: 400;
    width: 100px;
    display: inline-block;
}

.launch_title input {
    width: 175px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 5px;
}

.launch_title textarea {
    width: 175px;
    height: 100px;
    border: none;
    outline: none;
    font-size: 18px;
    resize: none;
    padding-left: 5px;
}

.launch_title input:hover,
.launch_title input:focus,
.launch_title textarea:hover,
.launch_title textarea:hover {
    box-shadow: 0 0 3px #2d6329;
}

.launch_modal span {
    color: #ff0000;
    font-size: 18px;
    position: absolute;
    bottom: 6px;
    left: 120px;
    font-weight: 300;
    display: none;
}

.part_in {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(216, 216, 216, 0.8);
}

.left_deco {
    position: absolute;
    left: -45px;
    top: 0;
    bottom: 0;
    width: 45px;
    background-color: #2d6329;
    border-radius: 2px;
    box-shadow: -1.5px 0 1px #fff;
}

@media only screen and (max-width: 1100px) {

    .hide_launch {
        display: block;
    }

    .launch_activity {
        display: none;
    }

    .hide_info {
        display: none;
    }
}

@media only screen and (max-width: 650px) {
    .hide_launcher {
        display: none;
    }
}