.nav_btn {
    display: none;
}

.nav_bar {
    width: 100%;
    background-color: #79ad23;
}

.logo_white {
    width: 60px;
    height: 60px;
    margin-left: 5px;
    margin-top: 2px;
}

.logo_text {
    font-size: 20px;
    font-family: "Libian SC", "PingFang SC", serif;
    line-height: 25px;
    color: #fff;
    display: inline-block;
    position: relative;
    top: -10px;
    left: 2px;
}

.navs {
    margin-left: 50px;
    display: inline-block;
    vertical-align: top;
}

.nav {
    font-size: 25px;
    font-family: "PingFang SC", serif;
    line-height: 65px;
    color: #fff;
    display: inline-block;
    margin-left: 30px;
    cursor: pointer;
}

.nav:hover,
.active {
    color: #f3ff00;
    font-size: 28px;
}

.personal_div {
    width: 215px;
    height: 59px;
    border-radius: 6px;
    background-color: #dae4c6;
    float: right;
    margin-top: 4px;
    margin-right: 10px;
}

.personal_bar {
    width: 215px;
    background-color: #dae4c6;
    position: absolute;
    top: 70px;
    right: 10px;
    z-index: 10;
}

.menu_person {
    width: 100%;
    height: 55px;
    border-bottom: 1px solid #fff;
    font-size: 24px;
    line-height: 55px;
    cursor: pointer;
}

.person_lbl {
    position: relative;
    top: -12px;
    left: 5px;
    color: #fff;
}

.person_lbl:hover {
    color: #3e5e45;
}

.person_icon {
    width: 50px;
    height: 50px;
    position: relative;
}

.photo {
    width: 50px;
    height: 50px;
    border: 1px solid #bdb5b5;
    border-radius: 8px;
    background-color: #d8d8d8;
    margin-top: 4px;
    margin-left: 5px;
    display: inline-block;
}

.userId {
    font-size: 25px;
    font-family: "PingFang SC", serif;
    color: #3e5e45;
    display: inline-block;
    margin-left: 5px;
    position: relative;
    top: -8px;
}

.combox {
    font-size: 25px;
    color: #3e5e45;
    float: right;
    margin-right: 15px;
    margin-top: 17px;
    cursor: pointer;
}

.combox:hover {
    color: #2ca02c;
}

.bottom_nav {
    width: 100%;
    height: 40px;
    background-color: #6fae5f;
    font-size: 18px;
    font-weight: 100;
    color: #fff;
    text-align: center;
    line-height: 40px;
    margin-top: 100px;
}


/* 每个页面的基本样式 */
.top_bg {
    width: 100%;
    height: 380px;
    background-image: url("../../public/Image/personal-bg.png");
    position: absolute;
    top: 68px;
    left: 0;
}

.left_nav {
    width: 190px;
    background-color: #f3faef;
    opacity: 0.7;
    position: fixed;
    top: 220px;
    left: 55px;
    border: none;
    box-shadow: 0 0 10px #9EA891;
}

.sub_nav {
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #fff;
    font-size: 26px;
    text-align: center;
    line-height: 50px;
    color: #75AD82;
    cursor: pointer;
    z-index: 10;
}

.hide_bar {
    display: none;
}

.sub_nav:hover {
    color: #55D070;
}

.sub-active {
    color: #55D070;
}

.right_div {
    width: 70%;
    background-color: #f3faef;
    opacity: 0.7;
    margin-left: 23%;
    margin-top: 60px;
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 10px #9ea891;
    z-index: 10;
    /** Attention **/
    padding: 50px 0px;
}


@media only screen and (max-width: 830px) {
    .navs {
        display: none;
    }
}

@media only screen and (max-width: 830px) {
    .navs {
        display: none;
    }

    .nav_btn {
        width: 35px;
        height: 35px;
        float: right;
        border: 2px solid #095816;
        border-radius: 6px;
        display: inline-block;
        margin-right: 15px;
        margin-top: 12px;
        padding-top: 5px;
        padding-left:7px;
        color: #095816;
        cursor: pointer;
        transition: 0.3s;
    }

    .nav_btn:hover {
        color: #c3cb1c;
        border: 2px solid #c3cb1c;
    }
}

@media only screen and (max-width: 1100px) {
    .left_nav {
        width: 54px;
        padding-bottom: 5px;
        left: 25px;
    }

    .sub_nav {
        display: none;
    }

    .hide_bar {
        display: block;
        width: 49px;
        height: 49px;
        border-radius: 8px;
        margin-top: 5px;
        margin-left: 2px;
        cursor: pointer;
    }
}