@media only screen and (max-width: 960px) {
    .foot_left {
        display: none;
    }
}

.intro_div {
    width: 100%;
    height: 270px;
    background: -webkit-linear-gradient(top, #eef0fc, #f0f1f6);
    font-size: 40px;
    font-family: "Libian SC", "PingFang SC", serif;
    color: #77ba6b;
    text-align: center;
    text-shadow: -3px 3px 4px #daeed3;
}

.foot_left {
    width: 250px;
    float: left;
    vertical-align: top;
}

.sum_div {
    width: 90%;
    margin: 40px auto;
}

.each_pic {
    width: 330px;
    height: 180px;
    box-shadow: 0 0 7px #d8d8d8;
    cursor: pointer;
    transition: 0.2s;
}

.each_pic:hover {
    box-shadow: 0 0 10px #cad2f7;
}

.cross_div {
    width: 330px;
    height: 260px;
    display: inline-block;
    vertical-align: middle;
    background-image: url("../../public/Image/crossover.png");
    box-shadow: 0 0 7px #ddd7f7;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 26px;
    font-style: italic;
    color: #4c26da;
    text-shadow: 3px -3px 5px #5a45a7;
    position: relative;
}

.cross_div div {
    cursor: pointer;
    display: inline;
}

.cross_div div:hover {
    color: #6a6aec;
}

.daily_pic {
    background-image: url("../../public/Image/daily-cut.png");
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}

.activity_pic {
    background-image: url("../../public/Image/activity-cut.png");
    margin: 10px auto;
    position: relative;
    left: -80px;
}

.history_pic {
    background-image: url("../../public/Image/history-cut.png");
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
}

.social_pic {
    background-image: url("../../public/Image/social-cut.png");
    margin: 60px auto;
    position: relative;
    left: 50px;
}

.intro_text_over {
    width: 70%;
    font-size: 18px;
    margin: auto auto;
    background-color: transparent;
    padding-top: 40px;
    padding-bottom: 10px;
    cursor: default;
    color: #0b2609;
}

@media only screen and (max-width: 1270px) {
    .cross_div {
        display: none;
    }

    .history_pic, .daily_pic, .activity_pic, .social_pic {
        position: inherit;
        margin: 15px auto;
        display: inherit;
    }
}