.left_nav_person {
    width: 230px;
    padding-bottom: 20px;
    padding-top: 15px;
    background-color: #f3faef;
    opacity: 0.7;
    position: fixed;
    top: 130px;
    left: 55px;
    border: none;
    box-shadow: 0 0 10px #9ea891;
}

.left_nav_person input::-webkit-input-placeholder {
    font-size: 11px;
}

.right_div_person {
    width: 63%;
    background-color: #f3faef;
    opacity: 0.85;
    margin-left: 28%;
    margin-top: 60px;
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 10px #9ea891;
    z-index: 10;
    /** Attention **/
    padding: 50px 0px;
}

.p_img {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    /*background-color: #d8d8d8;*/
    background-image: url("../Image/user-img.svg");
    margin: 15px auto;
}

.p_username {
    font-size: 18px;
    font-weight: 500;
    color: #3e5e45;
    text-align: center;
    cursor: default;
    margin-top: -5px;
}

.p_text {
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
    color: #3e5e45;
    text-align: center;
    background-color: transparent;
}

.p_username i {
    display: none;
    opacity: 0.6;
    cursor: pointer;
    margin: 0 5px;
    font-size: 26px;
}

.p_username i:hover {
    opacity: 1;
}

.title_lbl {
    font-size: 12px;
    font-weight: 300;
    color: #3e5e45;
    text-align: center;
    margin-top: 5px;
}

input:disabled {
    background-color: transparent;
    color: #3e5e45;
}

.update_btn {
    width: 110px;
    height: 45px;
    font-size: 20px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    background-color: #5B8b0b;
    border-radius: 4px;
    opacity: 0.8;
    cursor: pointer;
    margin: 20px auto;
    transition: 0.3s;
}

.update_btn:hover {
    opacity: 1;
}

.lead_text_p {
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-top: -30px;
}

.lead_text_p i {
    opacity: 0.7;
    cursor: pointer;
}

.lead_text_p i:hover {
    opacity: 1;
}

.hobby_lbl {
    width: 130px;
    height: 30px;
    background: -webkit-linear-gradient(bottom left, #f8fbf5, #daf5bf);
    transform: skew(-20deg);
    box-shadow: 0 0 10px #c1c1c1;
    margin-left: 25px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 30px;
    color: #3e5e45;
    display: inline-block;
    overflow: hidden;
}

.hobby_lbl div {
    transform: skew(20deg);
    display: inline-block;
}

.hobby_lbl i {
    opacity: 0.7;
    cursor: pointer;
    float: right;
    margin-right: 3px;
    display: none;
}

.hobby_lbl i:hover {
    opacity: 1;
}

.down_div {
    margin-top: 1px;
    width: 62%;
    margin-left: 28.5%;
    background: -webkit-linear-gradient(top, #e8eae7, #f3faef);
    display: none;
}

.fans_div {
    width: 320px;
    height: 400px;
    background-color: #f9fbf8;
    box-shadow: 0 2px 4px #7c8c77;
    display: inline-block;
    vertical-align: top;
}

.fans_title {
    width: 140px;
    font-size: 24px;
    font-weight: 500;
    color: #233a28;
    padding-bottom: 2px;
    border-bottom: 2px solid #233a28;
    text-align: center;
    margin: 10px auto;
}

.vip_btn {
    width: 190px;
    height: 50px;
    background-color: #fd7222;
    opacity: 1;
    color: #fff;
    font-size: 26px;
    text-align: center;
    line-height: 50px;
    margin: 0 auto;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 0 10px #eaac5b;
    transition: 0.3s;
}

.vip_btn:hover {
    background-color: #ff5d00;
}

.vip_btn_left {
    width: 230px;
    height: 50px;
    position: fixed;
    top: 520px;
    left: 55px;
    border: none;
    box-shadow: 0 0 10px #9ea891;
    opacity: 0.8;
    display: none;
}

.vip_btn_left:hover {
    opacity: 0.9;
}

.hide_eye {
    font-size: 26px;
    position: absolute;
    left: 15px;
    cursor: pointer;
    opacity: 0.7;
}

.hide_eye:hover {
    opacity: 1;
}

@media screen and (max-width: 1050px) {

    .left_nav_person {
        position: inherit;
        margin: 20px auto;
    }

    .right_div_person {
        margin: 40px auto;
        width: 80%;
    }

    .down_div {
        width: 79%;
        margin: -39px auto;
    }

    .fans_div {
        margin: 15px auto;
    }
}