<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Track</title>

    <link href="/Track/public/css/reset.css" rel="stylesheet">
    <link href="/Track/public/css/common.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

<!-- 导航栏 -->
<div class="nav_bar">

    <img src="/Track/public/Image/logo-white.png" class="logo_white">
    <div class="logo_text">
        行迹<br>
        Track
    </div>

    <div class="navs">
        <div class="nav">首页</div>
        <div class="nav active">日迹</div>
        <div class="nav">赛迹</div>
        <div class="nav">足迹</div>
        <div class="nav">人迹</div>
    </div>

    <div class="personal_div">

        <div class="photo"></div>
        <div class="userId">sure</div>
        <div class="fa fa-sort-desc combox"></div>
    </div>

</div>

</body>
</html>