<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Track</title>

    <link href="/Track/public/css/common.css" rel="stylesheet">
    <link href="/Track/public/css/reset.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

<!-- 导航栏 -->
<div class="nav_bar">

    <img src="/Track/public/Image/logo-white.png" class="logo_white">
    <div class="logo_text">
        行迹<br>
        Track
    </div>

    <div class="navs">
        <div class="nav" onclick="window.location.href='HomePage.html'">首页</div>
        <div class="nav" onclick="window.location.href='Daily.html'">日迹</div>
        <div class="nav" onclick="window.location.href='Activity.html'">赛迹</div>
        <div class="nav active" onclick="window.location.href='History.html'">足迹</div>
        <div class="nav" onclick="window.location.href='Social.html'">人迹</div>
    </div>

    <div class="personal_div">

        <div class="photo"></div>
        <div class="userId">sure</div>
        <div class="fa fa-sort-desc combox" onclick="showPersonal()"></div>
    </div>

    <div class="nav_btn">
        <i class="fa fa-bars fa-2x"></i>
    </div>

</div>

<div id="personalbar" class="personal_bar" style="display: none">
    <div class="menu_person">
        <img src="/Track/public/Image/person.svg" class="person_icon">
        <span class="person_lbl">个人中心</span>
    </div>

    <div class="menu_person" onclick="Signout()">
        <img src="/Track/public/Image/signout.svg" class="person_icon" style="top: 4px; left: 5px;">
        <span class="person_lbl">注&nbsp;销</span>
    </div>
</div>

<div class="top_bg"></div>

<!-- 左侧导航栏 -->
<div class="left_nav">

    <div class="sub_nav">
        我的运动
        <i class="fa fa-angle-right"></i>
    </div>

    <div class="hide_bar sport"></div>

    <div class="sub_nav">
        睡眠分析
        <i class="fa fa-angle-right"></i>
    </div>

    <div class="hide_bar sleep"></div>

    <div class="sub_nav">
        身体管理
        <i class="fa fa-angle-right"></i>
    </div>

</div>


<div class="right_div">


</div>



<div class="bottom_nav">
    @Copyright  Sure
</div>

<script src="/Track/public/js/common.js"></script>
<script src="/Track/public/js/jquery.js"></script>
</body>
</html>